* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Josefin Sans', sans-serif;
}

body {
	background-color: #474e5d;

}

.navigatiebox {
	margin-bottom: 75px;
}

#container {
	width: 700px;
	padding: 0px 10px;
	margin: 5px auto;
	border-radius: 7px;
	background-color: white;
	box-shadow: 0 3px 25px 0 rgba(69,90,100,3.08)
}

.btn {
	width: 180px;
	display: inline-block;
	margin: 5% 20px;
	padding: 20px 0px;
	text-align: center;
	font-family: 'montserrat-Regular';
	text-decoration: none;
	position: center;
	background-color: white;
}

#navigatie{
	border: 4px solid #01dbdf;
	width: 172px;
	padding: 16px 0px;
	color: #01dbdf;
}

.profile{
	position: center;
	margin-left: 660px;
	top: 100px;
	left: 100px;
	width: 750px;
	display: flex;
	box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08)

}

.profile .left{
	width: 35%;
	background: linear-gradient(to right, #01a9ac, #01dbdf);
	padding: 30px 25px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: center;
	color: #fff;
}

.profile .left img{
	margin-bottom: 10px;
	border-radius: 5px;
}

.profile .left h4{
	margin-bottom: 10px;
}

.profile .left p{
	font-size: 15px;
}

.profile .right{
	background-color: white;
	width: 60%
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 30px 25px;
}

.profile .right .info,
.profile .right .projects{
	margin-bottom: 3px;
}

.profile .right .info h3,
.profile .right .projects h3{
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #353c4e;
	color: #353c4e;
	text-transform: uppercase;
	letter-spacing: 18px;
}

.profile .right .info_data,
.profile .right .projects_data{
	display: flex;
	justify-content:  space-between;
}

.profile .right .info_data .data,
.profile .right .projects_data .data{
	width: 35%;
}

.profile .right .info_data .data h4,
.profile .right .projects_data .data h4{
	color: #353c4e;
	margin-bottom: 5px
}

.profile .right .info_data .data p,
.profile .right .projects_data .data p{
	font-size: 13px;
	margin-bottom: 10px;
	color: #919aa3;
}

.profile .social_media ul{
	display: flex;
}

.profile .social_media ul li{
	width: 45px;
	height: 45px;
	background: linear-gradient(to right, #01dbdf, #01dbdf);
	margin-right: 10px;
	border-radius: 4px;
	line-height: 45px;
	text-align: center;
}

.profile .social_media ul li a{
	color: #fff;
	display: block;
	font-size: 18px;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #01dbdf;
  top: 15px;
  bottom: 100px;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #01dbdf;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}